<strong>Hello, {{ provider }}</strong> <br />
<p>There was a schedule cancellation. See details below:</p> <br />
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <strong>time: </strong> {{ time }} <br />
  <br />
</p>
<p>
  <small>
    This time is again available for a new schedule.
  </small>
</p>
